@page
@model webapp.Pages_CourseLearningOutcomes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Course Learning Outcome</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseLearningOutcome.CourseLearningOutcomeId" class="control-label"></label>
                <input asp-for="CourseLearningOutcome.CourseLearningOutcomeId" class="form-control" />
                <span asp-validation-for="CourseLearningOutcome.CourseLearningOutcomeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseLearningOutcome.CourseLearningOutcomeDesc" class="control-label"></label>
                <input asp-for="CourseLearningOutcome.CourseLearningOutcomeDesc" class="form-control" />
                <span asp-validation-for="CourseLearningOutcome.CourseLearningOutcomeDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseLearningOutcome.CourseInstanceId" class="control-label"></label>
                <select asp-for="CourseLearningOutcome.CourseInstanceId" class ="form-control" asp-items="ViewBag.CourseInstanceId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CourseLearningOutcome.AssessmentId" class="control-label"></label>
                <input asp-for="CourseLearningOutcome.AssessmentId" class="form-control" />
                <span asp-validation-for="CourseLearningOutcome.AssessmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseLearningOutcome.CacStudentOutcomeId" class="control-label"></label>
                <select asp-for="CourseLearningOutcome.CacStudentOutcomeId" class ="form-control" asp-items="ViewBag.CacStudentOutcomeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
