@page
@model webapp.Pages_CourseLearningOutcomes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CourseLearningOutcome</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLearningOutcome.CourseLearningOutcomeDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLearningOutcome.CourseLearningOutcomeDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLearningOutcome.AssessmentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLearningOutcome.AssessmentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLearningOutcome.CacStudentOutcome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLearningOutcome.CacStudentOutcome.CacStudentOutcomeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLearningOutcome.CourseInstance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLearningOutcome.CourseInstance.CourseInstanceId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CourseLearningOutcome.CourseLearningOutcomeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
