@page
@model webapp.Pages_CourseLearningOutcomes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Course Learning Outcomes</h1>

@if ( User.Identity.IsAuthenticated ){
    if (User.IsInRole("Admin") || User.IsInRole("Professor")){
<p>
    <a asp-page="Create">Create New</a>
</p>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseLearningOutcome[0].CourseLearningOutcomeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseLearningOutcome[0].CacStudentOutcome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseLearningOutcome[0].CourseInstance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseLearningOutcome[0].AssessmentId)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CourseLearningOutcome) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseLearningOutcomeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CacStudentOutcome.CacStudentOutcomeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseInstance.CourseInstanceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssessmentId)
            </td>
    @if ( User.Identity.IsAuthenticated ){
    if ( User.IsInRole("Admin") ){
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CourseLearningOutcomeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CourseLearningOutcomeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CourseLearningOutcomeId">Delete</a>
            </td>
        }
    }
        </tr>
}
    </tbody>
</table>
