@using domain;
@model IEnumerable<ApplicationUser>
  
<h1 class="bg-info text-white">All Users</h1>
<a asp-area="Identity" asp-page="/Account/Register" class="btn btn-secondary">Create a User</a>
  
<table class="table table-sm table-bordered">
    <tr><th>ID</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Update</th><th>Delete</th></tr>
    @foreach (ApplicationUser user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@user.Id">
                    Update
                </a>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>