@page
@using System.Linq
@model webapp.Pages_Assessments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Assessment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Assessment.AssessmentInstrument" class="control-label"></label>
                <input asp-for="Assessment.AssessmentInstrument" class="form-control" />
                <span asp-validation-for="Assessment.AssessmentInstrument" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assessment.ExcellentStudents" class="control-label"></label>
                <input asp-for="Assessment.ExcellentStudents" class="form-control" min="0"  />
                <span asp-validation-for="Assessment.ExcellentStudents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assessment.GoodStudents" class="control-label"></label>
                <input asp-for="Assessment.GoodStudents" class="form-control" min="0"  />
                <span asp-validation-for="Assessment.GoodStudents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assessment.SatisfactoryStudents" class="control-label"></label>
                <input asp-for="Assessment.SatisfactoryStudents" class="form-control" min="0" />
                <span asp-validation-for="Assessment.SatisfactoryStudents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assessment.UnsatisfactoryStudents" class="control-label"></label>
                <input asp-for="Assessment.UnsatisfactoryStudents" class="form-control" min="0" />
                <span asp-validation-for="Assessment.UnsatisfactoryStudents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assessment.MissingStudents" class="control-label"></label>
                <input asp-for="Assessment.MissingStudents" class="form-control" min="0" />
                <span asp-validation-for="Assessment.MissingStudents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assessment.TotalStudents" class="control-label"></label>
                <input asp-for="Assessment.TotalStudents" class="form-control" min="0" />
                <span asp-validation-for="Assessment.TotalStudents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assessment.CourseLearningOutcomeId" class="control-label"></label>
                <select asp-for="Assessment.CourseLearningOutcomeId" class="form-control" asp-items="ViewBag.CourseLearningOutcomeId">
                    <option selected>Please select a course learning outcome</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

