@page
@model webapp.Pages_Assessments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Assessment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assessment.AssessmentInstrument)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assessment.AssessmentInstrument)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assessment.ExcellentStudents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assessment.ExcellentStudents)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assessment.GoodStudents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assessment.GoodStudents)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assessment.SatisfactoryStudents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assessment.SatisfactoryStudents)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assessment.UnsatisfactoryStudents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assessment.UnsatisfactoryStudents)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assessment.MissingStudents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assessment.MissingStudents)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assessment.TotalStudents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assessment.TotalStudents)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assessment.CourseLearningOutcome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assessment.CourseLearningOutcome.CourseLearningOutcomeId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Assessment.AssessmentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
