@page
@model webapp.Pages_Assessments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Assessment Reports</h1>

@if ( User.Identity.IsAuthenticated ){
    if (User.IsInRole("Admin") || User.IsInRole("Professor")){
<p>
    <a asp-page="Create">Create New</a>
</p>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assessment[0].AssessmentInstrument)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assessment[0].ExcellentStudents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assessment[0].GoodStudents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assessment[0].SatisfactoryStudents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assessment[0].UnsatisfactoryStudents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assessment[0].MissingStudents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assessment[0].TotalStudents)
            </th>
            <th>
                Course Instance
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assessment[0].CourseLearningOutcome)
            </th>
            <th>
                Student Outcome
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Assessment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssessmentInstrument)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExcellentStudents)
                @{
                    var percentageExcellentStudents = ((decimal)item.ExcellentStudents / (decimal)item.TotalStudents).ToString("P0");
                    <p>@percentageExcellentStudents</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoodStudents)
                @{
                    var percentageGoodStudents = ((decimal)item.GoodStudents / (decimal)item.TotalStudents).ToString("P0");
                    <p>@percentageGoodStudents</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SatisfactoryStudents)
                @{
                    var percentageSatisfactoryStudents = ((decimal)item.SatisfactoryStudents / (decimal)item.TotalStudents).ToString("P0");
                    <p>@percentageSatisfactoryStudents</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnsatisfactoryStudents)
                @{
                    var percentageUnsatisfactoryStudents = ((decimal)item.UnsatisfactoryStudents / (decimal)item.TotalStudents).ToString("P0");
                    <p>@percentageUnsatisfactoryStudents</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MissingStudents)
                @{
                    var percentageMissingStudents = ((decimal)item.MissingStudents / (decimal)item.TotalStudents).ToString("P0");
                    <p>@percentageMissingStudents</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalStudents)
                @{
                    <p>100%</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseLearningOutcome.CourseInstanceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseLearningOutcomeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseLearningOutcome.CacStudentOutcomeId)
            </td>
        @if ( User.Identity.IsAuthenticated ){
            if ( User.IsInRole("Admin") ){
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.AssessmentId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.AssessmentId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.AssessmentId">Delete</a>
                </td>
            }
        }
        </tr>
}
    </tbody>
</table>
