@page
@model webapp.Pages_FacultyQualitativeAssessmentReport.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FacultyQualitativeAssessmentReport</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacultyQualitativeAssessmentReport.New)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacultyQualitativeAssessmentReport.New)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacultyQualitativeAssessmentReport.Observations)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacultyQualitativeAssessmentReport.Observations)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacultyQualitativeAssessmentReport.StudentFeedback)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacultyQualitativeAssessmentReport.StudentFeedback)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacultyQualitativeAssessmentReport.Change)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacultyQualitativeAssessmentReport.Change)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacultyQualitativeAssessmentReport.CourseInstance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacultyQualitativeAssessmentReport.CourseInstance.CourseInstanceId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.FacultyQualitativeAssessmentReport.FacultyQualitativeAssessmentReportId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
