@page
@model webapp.Pages_FacultyQualitativeAssessmentReport.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FacultyQualitativeAssessmentReport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FacultyQualitativeAssessmentReport.FacultyQualitativeAssessmentReportId" />
            <div class="form-group">
                <label asp-for="FacultyQualitativeAssessmentReport.New" class="control-label"></label>
                <input asp-for="FacultyQualitativeAssessmentReport.New" class="form-control" />
                <span asp-validation-for="FacultyQualitativeAssessmentReport.New" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyQualitativeAssessmentReport.Observations" class="control-label"></label>
                <input asp-for="FacultyQualitativeAssessmentReport.Observations" class="form-control" />
                <span asp-validation-for="FacultyQualitativeAssessmentReport.Observations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyQualitativeAssessmentReport.StudentFeedback" class="control-label"></label>
                <input asp-for="FacultyQualitativeAssessmentReport.StudentFeedback" class="form-control" />
                <span asp-validation-for="FacultyQualitativeAssessmentReport.StudentFeedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyQualitativeAssessmentReport.Change" class="control-label"></label>
                <input asp-for="FacultyQualitativeAssessmentReport.Change" class="form-control" />
                <span asp-validation-for="FacultyQualitativeAssessmentReport.Change" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyQualitativeAssessmentReport.CourseInstanceId" class="control-label"></label>
                <select asp-for="FacultyQualitativeAssessmentReport.CourseInstanceId" class="form-control" asp-items="ViewBag.CourseInstanceId"></select>
                <span asp-validation-for="FacultyQualitativeAssessmentReport.CourseInstanceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
