@page
@model webapp.Pages_FacultyQualitativeAssessmentReport.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Faculty Qualitative Assessment Reports</h1>
@if ( User.Identity.IsAuthenticated ){
   if (User.IsInRole("Admin") || User.IsInRole("Professor")){
    <p>
        <a asp-page="Create">Create New</a>
    </p>
   }
}  
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FacultyQualitativeAssessmentReport[0].New)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacultyQualitativeAssessmentReport[0].Observations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacultyQualitativeAssessmentReport[0].StudentFeedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacultyQualitativeAssessmentReport[0].Change)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacultyQualitativeAssessmentReport[0].CourseInstance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FacultyQualitativeAssessmentReport) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.New)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentFeedback)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Change)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseInstance.CourseInstanceId)
            </td>
            @if ( User.Identity.IsAuthenticated ){
                if (User.IsInRole("Admin")){
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FacultyQualitativeAssessmentReportId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FacultyQualitativeAssessmentReportId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FacultyQualitativeAssessmentReportId">Delete</a>
            </td>
                }
            }
        </tr>
}
    </tbody>
</table>
