@page
@model webapp.Pages_ProgramEducationalObjectives.CreateModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Program Educational Objective</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="ProgramEducationalObjective.ProgramEducationalObjectiveId" class="control-label"></label>*@
                Program Educational Objective ID
                <input asp-for="ProgramEducationalObjective.ProgramEducationalObjectiveId" class="form-control" />
                <span asp-validation-for="ProgramEducationalObjective.ProgramEducationalObjectiveId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="ProgramEducationalObjective.ProgramEducationalObjectiveDesc" class="control-label"></label>*@
                Program Educational Objective Description
                <input asp-for="ProgramEducationalObjective.ProgramEducationalObjectiveDesc" class="form-control" />
                <span asp-validation-for="ProgramEducationalObjective.ProgramEducationalObjectiveDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

</body>
</html>
