@page
@model webapp.Pages_ProgramEducationalObjectives.DetailsModel



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>ProgramEducationalObjective</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.ProgramEducationalObjective.ProgramEducationalObjectiveDesc)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.ProgramEducationalObjective.ProgramEducationalObjectiveDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProgramEducationalObjective.ProgramEducationalObjectiveId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
