@page
@model webapp.Pages_ProgramEducationalObjectives.IndexModel
@using domain;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Program Educational Objectives</title>
</head>
<body>
@if ( User.Identity.IsAuthenticated ){
    if ( User.IsInRole("Admin") ){  
    <p>
        <a asp-page="Create">Create New</a>
    </p>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @*Html.DisplayNameFor(model => model.ProgramEducationalObjective[0].ProgramEducationalObjectiveId)*@
                Program ID
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.ProgramEducationalObjective[0].ProgramEducationalObjectiveDesc)*@
                Program Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProgramEducationalObjective.OrderBy(x => x.ProgramEducationalObjectiveId)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramEducationalObjectiveId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramEducationalObjectiveDesc)
            </td>
        @if ( User.Identity.IsAuthenticated ){
            if ( User.IsInRole("Admin") ){  
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProgramEducationalObjectiveId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProgramEducationalObjectiveId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProgramEducationalObjectiveId">Delete</a>
            </td>
            }
        }
        </tr>
}
    </tbody>
</table>
</body>
</html>
