@page
@model webapp.Pages_AcademicYears.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AcademicYear</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AcademicYear.AcademicYearId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
