@page
@model webapp.Pages_AcademicYears.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Academic Years</h1>

@if ( User.Identity.IsAuthenticated ){
    if ( User.IsInRole("Admin") ){
<p>
    <a asp-page="Create">Create New</a>
</p>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.AcademicYear)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AcademicYear) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicYearId)
            </td>
            @if ( User.Identity.IsAuthenticated ){
                if ( User.IsInRole("Admin") ){
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.AcademicYearId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.AcademicYearId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.AcademicYearId">Delete</a>
                </td>
                }
            }
        </tr>
}
    </tbody>
</table>
