@page
@model webapp.Pages_.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Course Instance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseInstance.CourseInstanceId" class="control-label"></label>
                <input asp-for="CourseInstance.CourseInstanceId" class="form-control" />
                <span asp-validation-for="CourseInstance.CourseInstanceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseInstance.AcademicYearId" class="control-label"></label>
                <select asp-for="CourseInstance.AcademicYearId" class ="form-control" asp-items="ViewBag.AcademicYearId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CourseInstance.SemesterId" class="control-label"></label>
                <select asp-for="CourseInstance.SemesterId" class ="form-control" asp-items="ViewBag.SemesterId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CourseInstance.CourseId" class="control-label"></label>
                <select asp-for="CourseInstance.CourseId" class ="form-control" asp-items="ViewBag.CourseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CourseInstance.FacultyQualitativeAssessmentReportId" class="control-label"></label>
                <input asp-for="CourseInstance.FacultyQualitativeAssessmentReportId" class="form-control" />
                <span asp-validation-for="CourseInstance.FacultyQualitativeAssessmentReportId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
