@page
@model webapp.Pages_.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CourseInstance</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseInstance.FacultyQualitativeAssessmentReportId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseInstance.FacultyQualitativeAssessmentReportId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseInstance.AcademicYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseInstance.AcademicYear.AcademicYearId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseInstance.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseInstance.Course.CourseId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseInstance.Semester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseInstance.Semester.SemesterId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CourseInstance.CourseInstanceId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
