@page
@model webapp.Pages_.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CourseInstance</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseInstance.AcademicYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseInstance.AcademicYear.AcademicYearId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseInstance.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseInstance.Course.CourseId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseInstance.Semester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseInstance.Semester.SemesterId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CourseInstance.CourseInstanceId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
