@page
@model webapp.Pages_.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CourseInstance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourseInstance.CourseInstanceId" />
            <div class="form-group">
                <label asp-for="CourseInstance.AcademicYearId" class="control-label"></label>
                <select asp-for="CourseInstance.AcademicYearId" class="form-control" asp-items="ViewBag.AcademicYearId"></select>
                <span asp-validation-for="CourseInstance.AcademicYearId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseInstance.SemesterId" class="control-label"></label>
                <select asp-for="CourseInstance.SemesterId" class="form-control" asp-items="ViewBag.SemesterId"></select>
                <span asp-validation-for="CourseInstance.SemesterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseInstance.CourseId" class="control-label"></label>
                <select asp-for="CourseInstance.CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>
                <span asp-validation-for="CourseInstance.CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseInstance.FacultyQualitativeAssessmentReportId" class="control-label"></label>
                <input asp-for="CourseInstance.FacultyQualitativeAssessmentReportId" class="form-control" />
                <span asp-validation-for="CourseInstance.FacultyQualitativeAssessmentReportId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
