@page
@model webapp.Pages_.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Course Instances</h1>

@if ( User.Identity.IsAuthenticated ){
    if (User.IsInRole("Admin") || User.IsInRole("Professor")){
<p>
    <a asp-page="Create">Create New</a>
</p>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseInstance[0].AcademicYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseInstance[0].Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseInstance[0].Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseInstance[0].CourseInstanceId)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CourseInstance) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicYear.AcademicYearId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester.SemesterId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseInstanceId)
            </td>
    @if ( User.Identity.IsAuthenticated ){
        if ( User.IsInRole("Admin") ){
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CourseInstanceId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CourseInstanceId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CourseInstanceId">Delete</a>
            </td>
        }
    }
        </tr>
}
    </tbody>
</table>
