@page
@model webapp.Pages_StudentOutcome.CreateModel
@{
    ViewData["Title"] = "Add SO";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>

<h4>Add a new Student Outcome to PARS</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @* <label asp-for="CacstudentOutcome.CacStudentOutcomeId" class="control-label"></label> *@
                Student Outcome (e.g. SO1)
                <input asp-for="CacstudentOutcome.CacStudentOutcomeId" class="form-control" />
                <span asp-validation-for="CacstudentOutcome.CacStudentOutcomeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="CacstudentOutcome.CacStudentOutcomeDesc" class="control-label"></label> *@
                Description
                <input asp-for="CacstudentOutcome.CacStudentOutcomeDesc" class="form-control" />
                <span asp-validation-for="CacstudentOutcome.CacStudentOutcomeDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

</body>
</html>
