@page
@model webapp.Pages_StudentOutcome.DeleteModel

@{
    ViewData["Title"] = "Delete SO";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>

<h3>Are you sure you want to delete @Html.DisplayFor(model => model.CacstudentOutcome.CacStudentOutcomeId)?</h3>
<div>
    <h4>Delete Student Outcome from PARS</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Student Outcome
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CacstudentOutcome.CacStudentOutcomeId)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CacstudentOutcome.CacStudentOutcomeDesc)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CacstudentOutcome.CacStudentOutcomeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
</body>
</html>
