@page
@model webapp.Pages_StudentOutcome.DetailsModel

@{
    ViewData["Title"] = "SO Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>

<div>
    <h4>@Html.DisplayFor(model => model.CacstudentOutcome.CacStudentOutcomeId) Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Student Outcome
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CacstudentOutcome.CacStudentOutcomeId)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CacstudentOutcome.CacStudentOutcomeDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CacstudentOutcome.CacStudentOutcomeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
