@page
@model webapp.Pages_StudentOutcome.EditModel

@{
    ViewData["Title"] = "Edit SO";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>

<h4>Edit Student Outcome</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CacstudentOutcome.CacStudentOutcomeId" />
            <div class="form-group">
                Student Outcome
                </br>
                <b>@Html.DisplayFor(model => model.CacstudentOutcome.CacStudentOutcomeId)</b>
            </div>
            <div class="form-group">
                @* <label asp-for="CacstudentOutcome.CacStudentOutcomeDesc" class="control-label"></label> *@
                Description
                <input asp-for="CacstudentOutcome.CacStudentOutcomeDesc" class="form-control" />
                <span asp-validation-for="CacstudentOutcome.CacStudentOutcomeDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

</body>
</html>
