@page
@model webapp.Pages_StudentOutcome.IndexModel
@using domain;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Student Outcomes";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
@if ( User.Identity.IsAuthenticated ){
    if ( User.IsInRole("Admin") ){  
<p>
    <a asp-page="Create">Create New</a>
</p>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.CacstudentOutcome[0].CacStudentOutcomeId) *@
                Student Outcome
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.CacstudentOutcome[0].CacStudentOutcomeDesc) *@
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CacstudentOutcome.OrderBy(x => x.CacStudentOutcomeId)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CacStudentOutcomeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CacStudentOutcomeDesc)
            </td>
        @if ( User.Identity.IsAuthenticated ){
            if ( User.IsInRole("Admin") ){  
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CacStudentOutcomeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CacStudentOutcomeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CacStudentOutcomeId">Delete</a>
            </td>
            }
        }
        </tr>
}
    </tbody>
</table>
</body>
</html>
