@page
@model webapp.Pages_Semesters.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Semesters</h1>

@if ( User.Identity.IsAuthenticated ){
    if ( User.IsInRole("Admin") ){
<p>
    <a asp-page="Create">Create New</a>
</p>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Semester)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Semester) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SemesterId)
            </td>
    @if ( User.Identity.IsAuthenticated ){
        if ( User.IsInRole("Admin") ){
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.SemesterId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.SemesterId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.SemesterId">Delete</a>
                </td>
        }
    }
        </tr>
}
    </tbody>
</table>
