﻿@page
@model IndexModel
@using domain;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PARS</h1>
    @if ( User.Identity.IsAuthenticated ){
        if (User.IsInRole("Admin"))
        { 
            <p>You're logged in as an <b>admin</b>. You have all-access to PARS.</p>
        }
    }
    @if ( User.Identity.IsAuthenticated ){
        if (User.IsInRole("Professor"))
        { 
            <p>You're logged in as a <b>professor</b>. You can add new assessment reports and review registration and ABET-related information.</p>
        }
    }
    @if ( User.Identity.IsAuthenticated ){
        if (User.IsInRole("Evaluator"))
        { 
            <p>You're logged in as an <b>evaluator</b>. You can review assessment reports and ABET-related information.</p>
        }
    }
    
     @if ( User.Identity.IsAuthenticated ){
        if (User.IsInRole("Admin") || User.IsInRole("Professor") || User.IsInRole("Evaluator"))
        { 
        <h2>Reports</h2>
        <a asp-page="/FacultyQualitativeAssessmentReport/Index" class="btn btn-info">Faculty Qualitative Assessment Report</a>
        }
        if (User.IsInRole("Admin") || User.IsInRole("Professor") || User.IsInRole("Evaluator"))
        {
        <a asp-page="/Assessments/Index" class="btn btn-info">Direct Course Embedded Assessment Report</a>
        } 
        if (User.IsInRole("Admin") || User.IsInRole("Professor"))
        {
        <br/>
        <h2>Registration</h2>
        <a asp-page="/AcademicYears/Index" class="btn btn-info">Academic Years</a>
        <a asp-page="/Semesters/Index" class="btn btn-info">Semesters</a>
        <a asp-page="/Courses/Index" class="btn btn-info">Courses</a>
        <a asp-page="/CourseInstances/Index" class="btn btn-info">Course Instances</a>
        <a asp-page="/CourseLearningOutcomes/Index" class="btn btn-info">Course Learning Outcomes</a><br/>
        }
        if (User.IsInRole("Admin") || User.IsInRole("Professor") || User.IsInRole("Evaluator"))
        {
        <h2>ABET</h2>
        <a asp-page="/StudentOutcome/Index" class="btn btn-info">Student Outcomes</a>
        <a asp-page="/ProgramEducationalObjectives/Index" class="btn btn-info">Program Educational Objectives</a><br/>
        } 
    }
</div>